<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084774171700-c89ii6gu080q24qokld1ebptqu2ilf2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084774171700-c89ii6gu080q24qokld1ebptqu2ilf2u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1084774171700-722eejt347n0i61f8505bnk00s0hnrve.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVBIrvek5TBHByxKQfVLjkNvCp6ucqbRg</string>
	<key>GCM_SENDER_ID</key>
	<string>1084774171700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nf.fischAusSteinbachtal</string>
	<key>PROJECT_ID</key>
	<string>fisch-aus-steinbachtal</string>
	<key>STORAGE_BUCKET</key>
	<string>fisch-aus-steinbachtal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084774171700:ios:b9075b7e64a7bdd8f47661</string>
</dict>
</plist>